# Use Jupyter to
- Edit
- Run
- Save

In [1]:
# This is how a comment looks in python code
# Every comment line starts with the # symbol

In [2]:
# This is "Hello Students" for Python 3
print("Hello Students!")

Hello Students!

In [3]:
print("Hello programmer!")

Hello programmer!

In [4]:
x = 2
y = x + 5 + 3
y

10

- Set the programming language
- Reset the Kernet
- Insert new cells

In [ ]:
# "ESC + A" to insert above or "ESC + B" to insert below

In [6]:
z = 7

In [7]:
t = 26

# Strings
A sequence of characters

In [8]:
'A B C x y z 1 2 3 ! , ? + & ? #'

'A B C x y z 1 2 3 ! , ? + & ? #'

Use single or double quotes

In [9]:
print('strings go in single')
print("or double quotes")

strings go in single
or double quotes

Use quotes that match

In [11]:
'Hello Python!'

'Hello Python!'

# Integers

In [12]:
# strings echo
"-123"

'-123'

In [13]:
# integer echo
-123

-123

In [17]:
# digit string print
print("2017a")

2017a

In [18]:
# integer print
print(-2017)

-2017

# Variables
## Variale naming standard for this course
- Descriptive Names
- Lowercase
- Words conneced with underscores

In [19]:
# Variable Assignment
student_name = "Joana Dias"

In [20]:
# Variable echo
student_name

'Joana Dias'

In [21]:
# literal string print
print("Joana Dias")

Joana Dias

In [22]:
# Variable string print
print(student_name)

Joana Dias

In [24]:
# Variable reassigment
print(student_name)
student_name = "Colette Browning"
print(student_name)

Joana Dias
Colette Browning

# Data Types
## String and Integer object are data types
## Variables in Python can change data type

In [25]:
# string variable
student = "Joana Dias"
student

'Joana Dias'

In [26]:
# changed to integer variable
student = 123456
student

123456

In [27]:
# back to string
student = "Diaz-J123456"
student

'Diaz-J123456'

In [28]:
# Variable string print
print(student)

Diaz-J123456

# Data Types and the type() function
- __str__: string
- __int__: integer
- __float__: floating point decimal

In [6]:
# type() displays the type of literals
type(3.14)

float

In [7]:
type(3)

int

In [2]:
type("Colette")

str

In [3]:
# type() displays the type of variables
student = "Colette"
type(student)

str

In [8]:
type("12")

str

In [9]:
type("4.7")

str

In [10]:
type(-12)

int

# Addition: numbers and strings
- __Math Addition:__ number addition with +
- __String Concatenation:__ combining strings with +

In [11]:
# echo the result of numeric addition
19 + 1

20

In [17]:
# echo the result of literal string addition

"my name is " + "Allysa"

'my name is Allysa'

In [13]:
print(3.4 + 9.1)

12.5

In [18]:
print("Hello, " + "my name is " + "Allysa")

Hello, my name is Allysa

In [19]:
add_two = 35 + 15
print(add_two)

50

In [20]:
first_name = "Alton"
greeting = "Happy Birthday " + first_name
print(greeting)

Happy Birthday Alton

In [21]:
greeting_today = greeting + ", today is the day!"
print(greeting_today)

Happy Birthday Alton, today is the day!

In [23]:
add_two = 34 + 17
add_four = add_two + add_two
print(add_four)

102

In [24]:
new_sum = 0
print(new_sum)

0

In [25]:
print("at " + "dinner")

at dinner

# Type Errors!

In [26]:
# str + int cannot be combined
print("my number is " + 123)

TypeError: must be str, not int

In [28]:
my_num = "123"
num_intro = "my number is " + my_num
print(num_intro)

my number is 123

In [29]:
print(type(3.3))
print(type(3))
print(3.3 + 3)

<class 'float'>
<class 'int'>
6.3

# SyntaxError & NameError
- __SyntaxError__ - breaks code formating rules of python
- __NameError__ - object is not defined (can't be found)

In [30]:
# Python Syntax requires matching quotes for a string
print("I am a string')

SyntaxError: EOL while scanning string literal (<ipython-input-30-b1f220345cf6>, line 2)

In [31]:
# Variable names can't start with numbers
1_name = "Alton"

SyntaxError: invalid token (<ipython-input-31-22933278ac56>, line 2)

In [32]:
type(3.3!

SyntaxError: invalid syntax (<ipython-input-32-a6f92996527b>, line 1)

In [33]:
# Python print is all lowercase. If capitalized, Name "Print" is not defined
Print("I wake up at 5:30")

NameError: name 'Print' is not defined

In [34]:
# NameError means the name cannot be found
print(day_of_week)

NameError: name 'day_of_week' is not defined

In [35]:
day_of_week = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]
print(day_of_week)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# Character Art

In [2]:
# The letter 'A'
print("    *")
print("   * *")
print("  *****")
print(" *     *")
print("*       *")

    *
   * *
  *****
 *     *
*       *

## input()
## saved to variable

In [6]:
print("enter a small int: ")
small_int = input()

enter a small int:
9

In [7]:
print("The small int is " + small_int)

The small int is 9

In [8]:
print("Enter your name: ")
student_name = input()

Enter your name:
Augustine

In [11]:
print("Hi! " + student_name)
type(student_name)

Hi! Augustine

str

In [13]:
# input() works similar to print() in the way it displays arguments as output
student_name = input("Enter the student name: ")
print("Hi! " + student_name)

Enter the student name: Augustine Nguyen
Hi! Augustine Nguyen

In [5]:
name = input("Enter the name: ")
age = input("Your age: ")
get_mail = input("Do you want to get mail? ")
print("The information of student ")
print("Name: " + name)
print("Age: " + age)
print("Get mail: " + get_mail)

Enter the name: Augustine
Your age: 27
Do you want to get mail? No
The information of student
Name: Augustine
Age: 27
Get mail: No

# print()
## formatting with commas

In [8]:
print("Name:",name,"Age:",age,"Get mail:",get_mail)

Name: Augustine Age: 27 Get mail: No

In [9]:
number_errors = 0
print("An Integer of", 14, "combined with strings causes",number_errors,"TypeErrors in comma formatted print!")

An Integer of 14 combined with strings causes 0 TypeErrors in comma formatted print!

# strings and quotes
Printing Single Quotes: Single Quotes in Doulble Quotes

In [2]:
print("It's time to save your code")

It's time to save your code

Printing Double Quotes: Double Quotes in Single Quotes

In [4]:
print('I said, "class, restart the kernel when cells will not run"')

I said, "class, restart the kernel when cells will not run"

# Testing with Boolean String Method

In [5]:
"Python".isalpha()

True

In [6]:
"1003".isdigit()

True

In [11]:
"Boolean".startswith("b")

False

In [14]:
cm_height = "176"
print("cm height:", cm_height, "is all digits =", cm_height.isdigit())

cm height: 176 is all digits = True

In [15]:
"Are spaces and punctuation Alphabetical?".isalpha()

False

In [16]:
length = "33"
length.isalnum()

True

# String Format Methods
.upper(), .lower(), capitalize()

In [18]:
print("ms. Browning is in her School office.".lower())
print("ms. Browning is in her School office.".upper())

ms. browning is in her school office.
MS. BROWNING IS IN HER SCHOOL OFFICE.

.title(), .swapcase()

In [23]:
print("time to SAVE your Code".title())
print("time to SAVE your Code".swapcase()) # Switch case upper becomes lower and vice versa
print("time to SAVE your Code".capitalize())

Time To Save Your Code
TIME TO save YOUR cODE
Time to save your code

format on input

In [25]:
fav_color = input('What is your favorite color?: ').lower()
print(fav_color)

What is your favorite color?: BULE
bule

In [26]:
fav_color = input('What is your favorite color?: ')
print(fav_color.upper())

What is your favorite color?: bule
BULE

# Searching with Boolean in keyword
strings are case sensitive when compared using the in keyword

In [28]:
menu = "salad pasta sandwich pizza drinks dessert"
print('pizza' in menu)

True

use.lower() for compare

In [31]:
menu = "salad pasta sandwich pizza drinks dessert"
print('Pizza'.upper() in menu.upper())

True

In [33]:
input_test = input("enter somethings eaten in last 24 hrs: ")

enter somethings eaten in last 24 hrs: apple

In [34]:
print('dairy' in input_test)

False

In [2]:
print('Hello World!')
student = input("What's your name? ")
print("Hi!", student)

Hello World!
What's your name? Augustine
Hi! Augustine